<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        <link rel="shortcut icon" href="{{asset "favicon.ico"}}" />

        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        {{{body}}}

        {{ghost_foot}}
    </body>
</html>
